.chatBox {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid var(--primary-100);
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--primary-100);

  }
  
  .chatBox_messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    /* background-color: #f9f9f9; */
  }