/* General Styles */

.chat-box {
  block-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat-box-body {
  padding-block: 10px;

  block-size: 100%;
}
/* .chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #ff7f50;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */

/* .chat-button span {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
} */

.chat-box-header {
 
  padding-inline: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.chat-box-header p {
  cursor: pointer;
  font-size: 18px;
}



.chat-box-body-send, 
.chat-box-body-receive {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 80%;
}

.chat-box-body-send {
  background-color: #3c383f;
  color: white;
  align-self: flex-end;
}

.chat-box-body-receive {
  background-color: #eaeaea;
  color: black;
}

.chat-box-footer {
  display: flex;
  /* padding: 10px; */
  /* background-color: #f1f1f1; */
  align-items: center;
  margin-block-end: 25px;
}

.chat-box-footer input {
  inline-size: 100%;
  border-radius: 5px;
  outline: none; 
  padding: 16px;
 
}

.chat-box-footer button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.chat-box-footer .send {
  color: #ff7f50;
  cursor: pointer;
}


