.sidebarLayout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  inline-size: 15%;
  block-size: 100%;
  background-color: var(--background-color);
  position: fixed;
  inset-inline-start: 0;
  inset-block-start: 0;
  padding-block-start: 1.5rem;
  border-inline-end: 1px solid var(--grey-color-200);
  overflow-y: scroll;
  transition: all 0.3s ease;
}

.sidebar.closed {
  inline-size: 60px;
}

.sidebar.closed .sideBarSearch,
.sidebar.closed .subheading,
.sidebar.closed .sidebarTop a img,
.sidebar.closed .sidebarList li a {
  display: none;
}


.sidebarTop {
  text-align: center;
  inline-size: 90%;
  margin-inline: auto;
  display: flex;
  align-items: center;
}

.sideBarSearch {
  margin-block-start: 1rem;
}

.toggleButton {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  /* background-color: var(--primary-100); */
  /* color: #fff; */
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.mainContent {
  margin-left: 15%;
  padding-inline: 1rem;
  flex-grow: 1;
  overflow: hidden;
  box-sizing: border-box;
}

.mainContent.fullWidth {
  margin-left: 60px;
  /* Adjust the margin when sidebar is closed */
}

.mainContent::-webkit-scrollbar {
  width: 0;
}

.mainContent::-webkit-scrollbar-thumb {
  display: none;
}

/* Sidebar Menu */
.sidebarMenu {
  list-style: none;
  padding: 0;
}

.sidebarMenu ul {
  text-decoration: none;
  list-style: none;
}

.sidebarList {
  padding: 0;
}

.sidebarList li {
  text-align: start;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-inline: 1.4rem;
  padding-block: 0.5rem;
  margin-block: 0.5rem;
}

.sidebarList li a {
  color: black;
  text-decoration: none;
}

.active {
  position: relative;
  padding-left: 20px;
}

.active::before {
  content: '';
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  height: 100%;
  width: 8px;
  background-color: var(--primary-100);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebarList .active a {
  color: var(--primary-100);
}

.sidebarList .active img {
  filter: invert(26%) sepia(50%) saturate(5855%) hue-rotate(252deg) brightness(96%) contrast(93%);
}

/* Sidebar Subheading */
.subheading {
  padding-inline-start: 1.5rem;
}

/* Typography */
.sidebarTop p,
.sidebarMenu p {
  font-size: 0.9rem;
  font-weight: bold;
}

/* Responsive Adjustments */
@media screen and (max-width: 960px) {
  .sidebarLayout {
    font-size: 12px;
  }
}

@media screen and (max-width: 860px) {
  .toggleButton {
    display: block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color: var(--primary-100);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .sidebarTop a img {
    inline-size: 100%;
  }

   .mainContent {
    margin-left: 10%;
  }

  .sidebar {
    font-size: 10px;
  } 
}

@media screen and (max-width: 680px) {
  /* .sidebarTop a img {
    display: none;
  }

  .sideBarSearch,
  .subheading,
  .sidebarTop a img,
  .sidebarList li a {
    display: none;
  } */

  

  .sidebar.closed {
    inline-size: 40px;
  }

  /* .mainContent.fullWidth {
    margin-left: 40px;
  } */

  .toggleButton {
    padding: 0.3rem 0.8rem;
  }
}