.chatListItemBox{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    color: white;
    padding-inline: 20px;
    padding-block: 8px;

}
.chatProfile{
    inline-size: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-color: black;
}
.chatContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    inline-size: 100%;
}
.chatListImg img{
    background-color: aqua;
    inline-size: 50px;
    block-size: 50px;
    object-fit: cover;
    
}

.chatListItemBox:hover{
    background-color: rgb(85, 87, 88);
}