.candidatesBox{
    /* padding-inline: 1rem; */
}
.candidatefilterOption{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 0.8rem;
}
.candidatefilterOption div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.dialogBoxChildren{
    padding-inline: 1rem;
    padding-block: 1rem;
    text-align: center;
}
.formBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.candidatesSaveButton{
    background-color: var(--grey-color);
    padding-block: 0.5rem;
    padding-inline: 2.5rem;
    border: none;
    border-radius: 15px;
    color: var(--background-color);
    cursor: pointer;
}
@media screen and (max-width: 680px) {
    .candidatefilterOption{
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
}