.registerPage {
    max-inline-size: 1280px;
    margin-inline: auto;
    min-block-size: 100vh;
    display: grid;
    align-items: center;
   
}
.registerPageBorder {
    display: grid;
    grid-template-columns: 40% 60%;
    border-radius: 15px;
    border: 1px solid var(--grey-color-200);
}

.registerPageLogo {
    padding-inline: 1rem;
    padding-block-start: 1rem;
}

.registerPageSectionTwo {
    inline-size: 100%;
    border-radius: 0 15px 15px 0;
    display: grid;
    background-color: var(--primary-100);
   
}

@media screen and (width<=640px) {
    .registerPageBorder {
        display: block;
    }
    .registerPageSectionTwo {
        display: none;
    }
}