.chatHeader{
    background-color: rgb(32, 44, 51);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 4px;
    /* padding-inline: 16px; */
    
}
.chatHeader_box{
    padding-inline: 16px;
}
.chatHeaderIcon{

}
.chatHeaderIcon img{
    inline-size: 40px;
    filter: brightness(0) saturate(100%) invert(99%) sepia(11%) saturate(1643%) hue-rotate(306deg) brightness(108%) contrast(110%);
    cursor: pointer;
}
/* .chatSearch{
    border: 1px solid white;
    margin: 0;
    padding: 0;
    border-radius: 10px;
} */