:root {
  --primary-100: #783FED; 
  --primary-200: #442487; 
  --secondary-100: #1C982E;
  --secondary-200: #0E4F17;
  --tertiary-100:#DAC400;
  --tertiary-200: #D0BB00;
  --background-color: #E5E5E5; 
  --danger-100: #FF3D3D; 
  --grey-color: #A4A4A4; 
  --grey-color-200:#E5E5E5;

}