.chatcontainer{
    border: 1px solid black;
    display: grid;
    gap: 1rem;
    inline-size: 500px;
    margin-inline: auto;
    padding: 1rem;
    border-radius: 15px;

}
.chatmessage{
    display: grid;
    gap: 1rem;
    border-radius: 15px;
    position: relative;
}
.message{
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(128, 97, 97);
}
.reply{
    inline-size: 450px; 
    margin-inline-start: auto; 
    background-color: aquamarine;
}

.replyBox{
    /* background-color: aqua; */
    position: relative;

}


.connector{
    position: absolute;
    /* background-color: #236edf; */
    width: 35px;
    z-index: 3;
    height: 120%;
    border-left: 1px dotted  black;
    border-bottom: 1px dotted  black;
    inset-block-end: 50%;
    inset-inline-start: 15px;
    border-radius: 0px 0 0 5px ;
    z-index: -1;

}