.chatcontainer{
    border: 1px solid black;
    display: grid;
    gap: 1rem;
    inline-size: 500px;
    margin-inline: auto;
    padding: 1rem;
    border-radius: 15px;

}
.chatmessage{
    display: grid;
    gap: 1rem;
    border-radius: 15px;
    position: relative;
}
.message{
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(128, 97, 97);
}
.reply{
    inline-size: 95%; 
    margin-inline-start: auto; 
    background-color: aquamarine;
}

.replyBox{
    /* background-color: aqua; */
    position: relative;

}


.connector{
    position: absolute;
    width: 35px;
    z-index: 3;
    height: 120%;
    border-left: 1px dotted  black;
    border-bottom: 1px dotted  black;
    inset-block-end: 50%;
    inset-inline-start: 15px;
    border-radius: 0px 0 0 5px ;
    z-index: -1;

}
.messageBox{
    background-color: rgb(192, 221, 221);
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 15px;
    inline-size: 85%;
}
.messageContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.messageContainer img{
    border-radius: 25px;
}
.heading h4{
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.heading p{
    font-size: 0.6rem;
}