.chatcontainer{

    border: 1px solid black;
    display: grid;
    gap: 1rem;
    inline-size: 500px;
    margin-inline: auto;
    padding: 1rem;
    border-radius: 15px;

}
.chatmessage{
    display: grid;
    gap: 1rem;
    border-radius: 15px;
    position: relative;
}
.message{
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(128, 97, 97);
}
.reply{
    inline-size: 450px;
    margin-inline-start: auto;
    background-color: aquamarine;
}
.connector{
    position: absolute;
    /* background-color: #236edf; */
    display: flex;
    width: 2px;
    z-index: 3;
    height: 100px;
    border-left: 1px dotted red;
    inset-block-start: 100px;
    inset-inline-start: 10px;
    /* inset:0; */

}