.inputBox{
    position: relative;
}
.input{
    inline-size: 100%;
    border-radius: 5px;
    border: 1px solid var(--grey-color);
    outline: transparent;
    padding: 10px;
    margin-block: 4px;
     box-sizing: border-box; 
    
    
}
.labelClass{
    font-size: 14px;
    font-weight: 500;

}
.passwordIconClass{
position: absolute;
inset-inline-end: 10px;
inset-block-start: 50%;
/* transform: translateY(-50%); */

}