.sectionOne{
    /* padding-inline: 16px; */
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    block-size: 100vh;
    overflow-y: hidden;
    scrollbar-width: none;
  
}
.subSection{
    border-inline-end: 1px solid rgb(167, 164, 164);
}
.chatlistBox{
    margin-block: 16px;
    max-block-size: 70%;
    overflow-y: auto;
    /* background-color: aqua; */

    scrollbar-width: none;
}
.chatBoxSection{
    padding-inline-start: 8px;
    background-color: antiquewhite;
    max-block-size: 82%;
}
.noChat{
    /* background-color: rgb(82, 87, 87); */
    min-block-size: 100%;
    display: flex;
    justify-content: center;
    color: white;
}